{% extends 'base.html' %}
{% block main_content %}
    <main class="projects-main">
        <div class="container">
            <h1 class="projects-main-header">
                <span style="color: #FFF1E2;">My</span> projects
            </h1>
            <div class="first-project">
                <h2 class="projects-title">
                    1. Watcheck
                </h2>
                <p class="projects-explanation">
                    The website is focused on selling watches exclusively in the Bulgaria region. Offering a carefully
                    curated selection of premium timepieces, I aim to provide discerning enthusiasts with access to
                    exquisite craftsmanship and timeless elegance. With a commitment to seamless shopping and
                    personalized
                    service, my goal is to cater to the unique preferences of customers in Bulgaria. Join me on this
                    journey
                    as I redefine luxury watch retailing in the region.
                </p>
                <p class="projects-used-technologies">
                    Used: Python, Django, HTML and CSS, PostgreSQL, JavaScript
                </p>
                <div class="source-code-container">
                    <a href="https://github.com/IliyaSR/watcheck">
                        Source code:
                    </a>
                    <a href="https://github.com/IliyaSR/watcheck"><i class="fa-brands fa-github"></i></a>
                </div>
                <div id="watcheckSwiper" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col">
                                    <img src="/staticfiles/images/watcheck/watcheck-home.PNG"
                                         class="d-block w-100 h-100"
                                         alt="watcheck-home">
                                </div>
                                <div class="col">
                                    <img src="/staticfiles/images/watcheck/watcheck-checkout.PNG" class="d-block w-100"
                                         alt="watcheck-checkout">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col">
                                    <img src="/staticfiles/images/watcheck/watcheck-login.PNG" class="d-block w-100"
                                         alt="watcheck-login">
                                </div>
                                <div class="col">
                                    <img src="/staticfiles/images/watcheck/watcheck-register.PNG" class="d-block w-100"
                                         alt="watcheck-register">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col">
                                    <img src="watcheck-shop-page.PNG" class="d-block w-100 h-100"
                                         alt="watcheck-shop-page">
                                </div>
                                <div class="col">
                                    <img src="watcheck-watch.PNG" class="d-block w-100" alt="watcheck-watch">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#watcheckSwiper"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#watcheckSwiper"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="second-project">
                <h2 class="projects-title">
                    2. TopicTalk
                </h2>
                <p class="projects-explanation">
                    TopicTalk is a web application designed for users to engage in discussions and share content around
                    various topics of interest. It provides a platform where users can create communities or join
                    existing
                    ones to participate in conversations, share knowledge, and connect with others who share similar
                    interests. The focus is on fostering a vibrant community where users can explore new ideas, ask
                    questions, and contribute their perspectives in a collaborative environment.
                </p>
                <p class="projects-used-technologies">
                    Used: Python, Django, HTML and CSS, PostgreSQL, JavaScript
                </p>
                <div class="source-code-container">
                    <a href="https://github.com/IliyaSR/TopicTalk">
                        Source code:
                    </a>
                    <a href="https://github.com/IliyaSR/TopicTalk"><i class="fa-brands fa-github"></i></a>
                </div>
                <div id="topictalkSwiper" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col">
                                    <img src="/staticfiles/images/topic_talk/topictalk-league of legends.PNG"
                                         class="d-block w-100" alt="topictalk-league">
                                </div>
                                <div class="col">
                                    <img src="/staticfiles/images/topic_talk/topictalk-home-page.PNG"
                                         class="d-block w-100" alt="topictalk-home-page">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col">
                                    <img src="/staticfiles/images/topic_talk/topictalk-create-post.PNG"
                                         class="d-block w-100" alt="topictalk-create-post">
                                </div>
                                <div class="col">
                                    <img src="/staticfiles/images/topic_talk/topictalk-login-page.PNG"
                                         class="d-block w-100" alt="topictalk-login-page">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col">
                                    <img src="/staticfiles/images/topic_talk/topictalk-register-page.PNG"
                                         class="d-block w-100"
                                         alt="topictalk-register-page">
                                </div>
                                <div class="col">
                                    <img src="/staticfiles/images/topic_talk/topictalk-profile-details.PNG"
                                         class="d-block w-100"
                                         alt="topictalk-profile-details">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#topictalkSwiper"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#topictalkSwiper"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>
            <div class="second-project">
                <h2 class="projects-title">
                    3. TastyRecipes
                </h2>
                <p class="projects-explanation">
                    The app allows users to browse different recipes, and see their details (including their cooking
                    time,
                    cuisine type, ingredients, instructions, etc.). The user can create, edit, or delete recipes. Users
                    can
                    also create, edit, or delete their profiles.
                </p>
                <p class="projects-used-technologies">
                    Used: Python, Django, HTML and CSS, PostgreSQL
                </p>
                <div class="source-code-container">
                    <a href="https://github.com/IliyaSR/TastyRecipesApp/tree/main">
                        Source code:
                    </a>
                    <a href="https://github.com/IliyaSR/TastyRecipesApp/tree/main"><i class="fa-brands fa-github"></i></a>
                </div>
                <div id="tastyRecipesSwiper" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col">
                                    <img src="/staticfiles/images/tasty_recipes/tasty-recipes-home-page.PNG"
                                         class="d-block w-100"
                                         alt="topictalk-create-post">
                                </div>
                                <div class="col">
                                    <img src="/staticfiles/images/tasty_recipes/tasty-recipes-catalogue-page.PNG"
                                         class="d-block w-100"
                                         alt="topictalk-home-page">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col">
                                    <img src="/staticfiles/images/tasty_recipes/tasty-recipes-create-profile.PNG"
                                         class="d-block w-100"
                                         alt="topictalk-league">
                                </div>
                                <div class="col">
                                    <img src="/staticfiles/images/tasty_recipes/tasty-recipes-create-recipie.PNG"
                                         class="d-block w-100"
                                         alt="topictalk-login-page">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col">
                                    <img src="/staticfiles/images/tasty_recipes/tasty-recipes-edit-profile.PNG"
                                         class="d-block w-100"
                                         alt="topictalk-register-page">
                                </div>
                                <div class="col">
                                    <img src="/staticfiles/images/tasty_recipes/tasty-recipes-profile-details.PNG"
                                         class="d-block w-100"
                                         alt="topictalk-profile-details">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#tastyRecipesSwiper"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#tastyRecipesSwiper"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>


            </div>
            <div class="second-project">
                <h2 class="projects-title">
                    4. My Music App
                </h2>
                <p class="projects-explanation">
                    The app allows a user to browse different albums, including the author, genre, and price. The user
                    can
                    create a catalog of albums. Album creators can also edit or delete their posts at any time.
                </p>
                <p class="projects-used-technologies">
                    Used: Python, Django, HTML and CSS, PostgreSQL
                </p>
                <div class="source-code-container">
                    <a href="https://github.com/IliyaSR/my_music_app">
                        Source code:
                    </a>
                    <a href="https://github.com/IliyaSR/my_music_app"><i class="fa-brands fa-github"></i></a>
                </div>
                <div id="myMusicAppSwiper" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col">
                                    <img src="/staticfiles/images/my_music_app/my-music-app-home.PNG"
                                         class="d-block w-100" alt="my-music-app-home">
                                </div>
                                <div class="col">
                                    <img src="/staticfiles/images/my_music_app/my-music-app-album-details.PNG"
                                         class="d-block w-100" alt="my-music-app-album-details">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col">
                                    <img src="/staticfiles/images/my_music_app/my-music-app-add-album.PNG"
                                         class="d-block w-100" alt="my-music-app-add-album">
                                </div>
                                <div class="col">
                                    <img src="/staticfiles/images/my_music_app/my-music-app-edit-album.PNG"
                                         class="d-block w-100" alt="my-music-app-edit-album">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col">
                                    <img src="/staticfiles/images/my_music_app/my-music-app-login.PNG"
                                         class="d-block w-100" alt="my-music-app-login">
                                </div>
                                <div class="col">
                                    <img src="/staticfiles/images/my_music_app/my-music-app-profile-details.PNG"
                                         class="d-block w-100"
                                         alt="my-music-app-profile-details">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#myMusicAppSwiper"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#myMusicAppSwiper"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="second-project">
                <h2 class="projects-title">
                    5. EventerApp
                </h2>
                <p class="projects-explanation">
                    Create a user-friendly Eventer App that empowers users to create and manage events. The app features
                    an
                    event catalog for easy exploration. Users can register using the create profile form and gain the
                    flexibility to effortlessly create, edit, and delete their own event listings whenever they want.
                </p>
                <p class="projects-used-technologies">
                    Used: Python, Django, HTML and CSS, PostgreSQL
                </p>
                <div class="source-code-container">
                    <a href="https://github.com/IliyaSR/eventer_app">
                        Source code:
                    </a>
                    <a href="https://github.com/IliyaSR/eventer_app"><i class="fa-brands fa-github"></i></a>
                </div>
                <div id="eventerAppSwiper" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col">
                                    <img src="/staticfiles/images/eventer_app/eventer-app-home.PNG"
                                         class="d-block w-100" alt="eventer-create-post">
                                </div>
                                <div class="col">
                                    <img src="/staticfiles/images/eventer_app/eventer-app-events.PNG"
                                         class="d-block w-100" alt="eventer-home-page">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col">
                                    <img src="/staticfiles/images/eventer_app/eventer-app-event-details.PNG"
                                         class="d-block w-100" alt="eventer-league">
                                </div>
                                <div class="col">
                                    <img src="/staticfiles/images/eventer_app/eventer-app-create-event.PNG"
                                         class="d-block w-100"
                                         alt="eventer-login-page">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col">
                                    <img src="/staticfiles/images/eventer_app/eventer-app-create-profile.PNG"
                                         class="d-block w-100"
                                         alt="eventer-register-page">
                                </div>
                                <div class="col">
                                    <img src="/staticfiles/images/eventer_app/eventer-app-edit-event.PNG"
                                         class="d-block w-100"
                                         alt="eventer-profile-details">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#eventerAppSwiper"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#eventerAppSwiper"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>


            </div>
        </div>
    </main>
{% endblock %}