{% extends 'base.html' %}
{% block main_content %}
    <main class="my-skills-main">
        <div class="container">
            <h2 class="my-skills-header"><span style="color: #FFF1E2;">My</span> Skills</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="base-skills">Base:</h3>
                            <div class="skills-container">
                                <img class="skills-images" src="/staticfiles/images/others/python.png" alt="python-logo">
                                <img class="skills-images" src="/staticfiles/images/others/js.png" alt="javascript-logo">
                                <img class="skills-images" src="/staticfiles/images/others/github.png" alt="github-logo">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h3 class="base-skills">
                                Design:
                            </h3>
                            <div class="skills-container">
                                <img class="skills-images" src="/staticfiles/images/others/html.png" alt="html-logo">
                                <img class="skills-images" src="/staticfiles/images/others/css-3.png" alt="css-logo">
                                <img class="skills-images" src="/staticfiles/images/others/bootstrap.png" alt="bootstrap-logo">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="base-skills">
                                Framework:
                            </h3>
                            <div class="skills-container">
                                <img class="skills-images" src="/staticfiles/images/others/django (1).svg" alt="django-logo">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h3 class="base-skills">
                                DataBase:
                            </h3>
                            <div class="skills-container">
                                <img class="skills-images" src="/staticfiles/images/others/postgresql (2).svg" alt="postgresql-logo">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3 class="education">Education:</h3>
                    <p class="education-text">
                        2016 - 2021:
                        Professional School for
                        Electrical Engineering and
                        Technology(Computer Science)
                    </p>
                    <p class="education-text">
                        2022 - 2023:
                        Software University (SoftUni)
                        (Computer Software
                        Engineering
                        )
                    </p>
                    <p class="education-text">
                        2021 - 2025:
                        University of Food
                        Technologies
                        (Computer Science)
                    </p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}